@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("CLICK ME PLEASE", "GetValues", "Value", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })
</div>
